.footer-bg {
  background-color: var(--cor-12);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 40px;
}

.footer h3 {
  margin-bottom: 32px;
}

.footer-contato ul {
  margin-bottom: 32px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-contato li:nth-child(even)::after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  margin-top: 16px;
  background: var(--cor-11);
}

.footer-contato a {
  text-decoration: underline;
}

.footer a {
  transition: 0.3s ease;
}

.footer a:hover {
  color: var(--cor-0);
}

.footer-redes {
  display: flex;
  gap: 32px;
}

.footer-copy {
  margin-top: 40px;
  grid-column: 1/-1;
}

@media (max-width: 800px) {
  .footer img {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .footer-copy {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    text-align: start;
    gap: 30px;
  }
  .footer-contato li:nth-child(even)::after {
    content: "";
    display: none;
    max-width: 360px;
    height: 2px;
    margin-top: 16px;
    background: var(--cor-11);
  }

  .footer-copy {
    margin-top: 35px;
  }
}
